# Dependencies
node_modules/

# Environment
.env

# Google credentials
credentials/

# Uploads
server/uploads/

# Build output
client/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
npm-debug.log*
service-account-key.json
