# Dependencies
node_modules/

# Environment
.env

# Google credentials
credentials/

# Uploads
server/uploads/

# Build output
client/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db


GOOGLE_APPLICATION_CREDENTIALS=./credentials/service-account-key.json
HEC_PARENT_FOLDER_ID=1gjA853wuptKvDCmr7mIbymnzqxBJikcM


desktop.ini

# Logs
*.log
npm-debug.log*
service-account-key.json
